<div>
  <!-- Create a button to add a new job -->
  <button class="tw-btn tw-btn-primary tw-mt-2" (click)="openModal(template)">
    Add Job
  </button>
</div>

<table
  class="tw-table-auto tw-border-collapse tw-border-2 tw-border-grayishViolet"
>
  <thead>
    <tr class="tw-bg-gray-200">
      <th class="table-class">Job Title</th>
      <th class="table-class">Job Description</th>
      <th class="table-class">Company Name</th>
      <th class="table-class">City</th>
      <th class="table-class">State</th>
      <th class="table-class">Skill Level</th>
      <th class="table-class">Salary Range</th>
      <th class="table-class">Remote Hybrid Onsite</th>
      <th class="table-class">URL Listing</th>
      <th class="table-class">Status</th>
    </tr>
  </thead>
  <tbody *ngIf="userInfo">
    <tr *ngFor="let job of userInfo.jobs">
      <td class="table-class">
        {{ job.jobTitle }}
      </td>
      <td class="table-class">
        {{ job.jobDescription }}
      </td>
      <td class="table-class">
        {{ job.companyName }}
      </td>
      <td class="table-class">
        {{ job.city }}
      </td>
      <td class="table-class">
        {{ job.state }}
      </td>
      <td class="table-class">
        {{ job.skillLevel }}
      </td>
      <td class="table-class">
        {{ job.salaryRange }}
      </td>
      <td class="table-class">
        {{ job.remoteHybridOnsite }}
      </td>
      <td class="table-class">
        {{ job.urlListing }}
      </td>
      <td class="table-class">
        {{ job.status }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>
