<body>
  <nav class="tw-container tw-relative tw-mx-auto tw-p-6">
    <div class="tw-flex tw-items-center tw-justify-between">
      <div class="tw-flex tw-items-center tw-space-x-20">
        <a
          routerLink="/home"
          class="tw-pb-8 tw-text-3xl hover:tw-text-veryDarkViolet"
          >Job Search Tracker</a
        >
      </div>
      <!-- Right Buttons Menu -->
      <div
        class="tw-hidden tw-items-center tw-space-x-6 tw-font-bold tw-text-grayishViolet lg:tw-flex"
      >
        <div
          *ngIf="accountService.currentUser$ | async as user"
          class="dropdown tw-pb-8"
          dropdown
        >
          <a
            class="dropdown-toggle tw-text-grayishViolet hover:tw-text-veryDarkViolet"
            dropdownToggle
            >Welcome {{ user.username | titlecase }}</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" routerLink="/user-home">User Home Page</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form
          [hidden]="accountService.currentUser$ | async"
          class="tw-flex tw-items-center tw-justify-between"
          #loginForm="ngForm"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <input
            name="username"
            [(ngModel)]="model.username"
            type="text"
            autocomplete="off"
            class="tw-mt-1 tw-mb-5 tw-w-full tw-rounded-lg tw-border tw-px-3 tw-py-2 tw-text-sm"
            placeholder="UserName"
          />

          <input
            name="password"
            [(ngModel)]="model.password"
            type="password"
            autocomplete="off"
            class="tw-mt-1 tw-mb-5 tw-ml-2 tw-w-full tw-rounded-lg tw-border tw-py-2 tw-px-3 tw-text-sm"
            placeholder="password"
          />
          <button
            type="submit"
            class="tw-mt-1 tw-mb-5 tw-ml-2 tw-inline-block tw-w-full tw-rounded-lg tw-bg-darkViolet tw-py-2 tw-text-center tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm tw-transition tw-duration-200 hover:tw-bg-darkViolet hover:tw-shadow-md focus:tw-bg-darkViolet focus:tw-bg-darkViolet focus:tw-shadow-sm focus:tw-ring-4 focus:tw-ring-opacity-50"
          >
            <span class="tw-mr-2 tw-inline-block">Login</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="tw-inline-block tw-h-4 tw-w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </button>
        </form>
      </div>
      <!-- @todo Hamburger Menu -->
    </div>
    <!-- @todo Mobile Menu -->
  </nav>
</body>
